.anchor-paney {
      -fx-background-color: #000000
  }

  .split-pane *.split-pane-divider {
      -fx-opacity: 0;
      -fx-padding: 0 0 0 0;
   }

   .list-view {
      -fx-background-color: #000000
   }